.gradle
.idea
_sources
build
fabric/.gradle
fabric/build
fabric/run
forge/.gradle
forge/build
forge/run
neoforge/.gradle
neoforge/build
neoforge/run
/forge/src/main/resources/.cache/
/fabric/src/main/resources/.cache/
